/* Estilizando os cards */

.card{
    width: 250px;
    border: #daa520 1px solid;
    border-radius: 15px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
    color: #000000;
    & span{
        font-weight: bold;
    }
}
.categoria{
    color: #daa520;
}

.containerTextos{
    width: 100%;
    height: auto;
    padding: 10px;
}

.boxTextos{
 display: flex;   
 flex-direction: column;
 gap: 5px;
    & span{
    text-align: right;
    }
}

.imgCard{
    width: 100%;
    height: auto;
    border-radius: 15px;
}